@import url("reset.css");

body {
	font-family: 'Noto Sans TC', sans-serif;
	line-height: 1.6;
	background-color: #f6f6f6;
}

h1 {
	font-family: 'Noto Sans TC', sans-serif;
	font-style: normal;
	font-size: 36px;
	text-align: center;
	margin: 60px auto;

}



/*  -------------- banner主圖   --------  */
.wrapper a img {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}
/*  -------------- banner主圖 rwd   --------  */

@media screen and (max-width: 415px){

	.banner img{
		height: 200px;
		
	}
	
}


/* -------  main 中間內文區域 -------   */

.main {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	box-sizing: border-box;
}



/* -------  優惠活動  -------   */
.promo-banner {
	max-width: 1400px;
	display: flex;
	margin: 0 auto;
}

.promo-right {
	flex: 1;
}

.promo-left {
	flex: 1;
}

.promo-right img {
	margin-left: -10px;
	width: 100%;

}

.promo-left img {
	width: 100%;
	margin-left: 10px;

}
/* -------  優惠活動 rwd  -------   */

@media screen and (max-width: 415px){

.promo-banner{
	width: 95%;
	display: flex;
    flex-direction: column;
}

.promo-right img {
	margin: 0%;
	margin-bottom: 10px;
	
}
.promo-left img {
	margin: 0%;
	
}



}



/* -------  新品上市  -------   */

.new-arrival {
	width: 100%;
	margin: 0 auto;
}


.new-arrival ul li h3 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	text-align: center;
	font-size: 16px;
	margin-bottom: 10px;

}

.new-arrival ul li p {
	font-family: 'Noto Sans TC';
	font-style: normal;
	text-align: center;
	font-size: 24px;
	color: #0082FB;
	margin-bottom: 10px;
}

.newproduct-button {
	font-family: 'Noto Sans TC';
	font-style: normal;
	display: block;
	width: 150px;
	line-height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #D9D9D9;
	text-align: center;
	text-decoration: none;
	color: black;
	border-radius: 40px;
	margin: 0 auto;
	font-size: 20px;
}


/*  -----------  熱賣商品grid -----------  */

.wrapper-best{
	max-width: 1400px;
	margin: 0 auto;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 5px;
	
	
}
.wrapper-best > div{
	
	display: flex;
	text-align: center;
	justify-content: center;
}
/* .wrapper-best > div */

.item1{
	grid-column:  1 / 2;
	grid-row: 1 / 2;
	border-top: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	
}
.item2{
	grid-column:  1 / 2;
	grid-row: 2 / 3;
	border-left: 1px solid #D9D9D9;
	
	
}

.item-small{
	grid-column:  2 / 3;
	grid-row: 1/ 2;
	

}
.item-small ul{
	display: flex;
	flex-wrap: wrap;

}
.item-small li{
	width: 50%;
	display: block;
	margin:auto;

}


.item img{
	display: block;
	margin:auto;
	width: 100%;
	
}


.item img:hover{
	transform: scale(1.1);
	transition: all 0.6s;
}

.item.item-small img{
	width: 50%;
	margin-bottom: 1rem;
	
}

.item.item-text h2{
	font-size: 1.5rem ;
	margin: auto;
	line-height: 4rem;;

}
.item h3{
	color: black;
	font-size: 1rem ;
	padding: 10px;
	line-height: 1.6;
}


.item.item-alink a{
	margin: auto;
	font-size: 1.4rem;
	display: block;
	width: 80%;
	background-color: #0082FB;
	color: aliceblue;
	border-radius: 40px;
	text-decoration: none;
	line-height: 3rem;
}

/* ---------------熱賣商品按鈕變色--------- */
.item.item-alink a:hover{
	color: #0082FB;
	background-color: aqua;

}

.item a{
	
	font-size: 1.3rem;
	line-height: 3rem;
	text-decoration: none;
	
}

.item{
	text-align: center;
	overflow: hidden;
	
}
.item3{
	border-top: 1px solid #D9D9D9;
}

.item4{
	grid-column:  2 / 3;
	grid-row: 2/ 3;
	
}
.item5{
	grid-column:  3 / 4;
	grid-row: 1/ 2;
	border: 1px solid #D9D9D9;

}
.item6{
	grid-column:  4/ 5;
	grid-row: 1/ 2;
	border: 1px solid #D9D9D9;
}
.item7{
	grid-column:  5/ 6;
	grid-row: 1/ 2;
	border: 1px solid #D9D9D9;
}
.item8{
	grid-column:  3/ 4;
	grid-row: 2/ 3;
	border: 1px solid #D9D9D9;
}
.item9{
	grid-column:  4/ 5;
	grid-row: 2/ 3;
	border: 1px solid #D9D9D9;
}
.item10{
	grid-column:  5/ 6;
	grid-row: 2/ 3;
	border: 1px solid #D9D9D9;
}
.item11{
	grid-column:  1/ 2;
	grid-row: 3/ 4;
	border-left: 1px solid #D9D9D9;
}
.item12{
	grid-column:  1/ 2;
	grid-row: 4/ 5;
	border-bottom: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	
}
.item13{
	grid-column:  2/ 3;
	grid-row: 3/ 4;
}
.item13 ul {
	display: flex;
	flex-wrap: wrap;
}

.item13 li {
	width: 50%;
}
.item14{
	grid-column:  2/ 3;
	grid-row: 4/ 5;
	border-bottom: 1px solid #D9D9D9;
}
.item15{
	grid-column:  3/ 4;
	grid-row: 3/ 4;
	border: 1px solid #D9D9D9;

}
.item16{
	grid-column:  4/ 5;
	grid-row: 3/ 4;
	border: 1px solid #D9D9D9;

}
.item17{
	grid-column:  5/ 6;
	grid-row: 3/ 4;
	border: 1px solid #D9D9D9;

}
.item18{
	grid-column:  3/ 4;
	grid-row: 4/ 5;
	border: 1px solid #D9D9D9;

}
.item19{
	grid-column:  4/ 5;
	grid-row: 4/ 5;
	border: 1px solid #D9D9D9;

}
.item20{
	grid-column:  5/ 6;
	grid-row: 4/ 5;
	border: 1px solid #D9D9D9;

}


/*  -----------  熱賣商品 RWD-----------  */

@media screen and (max-width: 415px){

.wrapper-best{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
		

}

.item.item-alink a{
	margin-top: 1rem;
	font-size: 1.8rem;
}
.wrapper-best > div{
	
}

.item1{
	width: 100%; 
}
.item2{
	width: 56%;
	border: none;
}
.item3{
	width: 42%;
	border: none;

}
.item4{
	width: 100%;
	padding: 20px;
}
.item5{
	width: 48%;

}
.item6{
	width: 48%;

}
.item7{
	width: 48%;

}
.item8{
	width: 48%;

}
.item9{
	width: 48%;

}
.item10{
	width: 48%;

}
.item11{
	width: 100%;
}
.item12{
	width: 56%;
	border: none;
}
.item13{
	width: 42%;
	border: none;

}
.item14{
	width: 100%;
	padding: 20px;
}
.item15{
	width: 48%;

}
.item16{
	width: 48%;

}
.item17{

	width: 48%;
}
.item18{
	width: 48%;

}
.item19{

	width: 48%;
}
.item20{
	width: 48%;

}
}



/*  -----------影片區-----------*/
.video {
	margin: 0 auto;
	max-width: 1400px
}

.video-control {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;

}

.video-control li {}

/* -----------最右邊上拉室按鈕-------------- */

.bi-arrow-up-circle-fill {
	font-size: 40px;
	position: fixed;
	right: 10px;
	z-index: 99;
	bottom: 50px;
	cursor: pointer;
}

@media screen and (max-width: 415px){
 .bi-arrow-up-circle-fill{
	display: none;
 }

}

	


/* -----------影片RWD區-------------- */
@media screen and (max-width: 415px){

.video-control{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}



}



/* ---------------優惠活動分頁--------- */
.wrapper-promo {}

.banner img {
	width: 100%;
	margin: 0 auto;
}

.nav-lavel {}

.pm-side{
	margin-left: 18px;
	margin-bottom: 15px;
	color: #999;
	
}
.pm-side a{
	color: #999;
}


.promo-main {
	width: 1190px;
	margin: 50px auto;
}

.promo-in {
	width: 1190px;
	margin: 0 auto;
}

.promo-in ul {
	width: 1190px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.promo-in li {
	width: 357px;
	height: 307px;
	border: 1px solid #D9D9D9;


	margin: 20px auto;
	text-align: center;
	background-color: white;

}

.promo-in ul li img {
	width: 357px;
}

.promo-in ul li h3 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 24px;
	margin-top: 10px;
}

.promo-in ul li a {

	font-size: 16px;
	display: block;
	width: 80px;
	background-color: #0082FB;
	color: aliceblue;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 30px;

}
/* ---------------優惠活動rwd --------- */


@media screen and (max-width: 415px){

	.promo-main{
		width: 100%;
	}
	.promo-in{
		width: 100%;

	}


	.promo-in ul {
		width: 100%;
		display: flex;
		flex-direction: column;

	}
	.pm-side {
		margin-left: 27px;

	}
   
   }


/* ---------------找商品區大範圍 --------- */

.product-container {

	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	width: 1230px;
	justify-content: space-between;
}

.pd-side{
	margin-bottom: 15px;
	margin-left: 9px;
	color: #999;
}
.pd-side a{
	color: #999;
}





/* ----------category-container---------- */

.category-control {
	
  }
  
  .category-control select {
	outline: none;
	padding: 3px;
	margin-right: 48px;
  }



.product-list {
	display: flex;

	margin: auto;
	width: 100%;
	height: auto;
}

.product-list span {
	font-size: 24px;
	font-family: 'Noto Sans TC';
	font-style: normal;
	border-bottom: 1px solid black;
}


/* ---------  商品區左邊彈出導覽列--------- */

.category-list .bi-plus{
	font-size: 1.4rem;
  }
  
  .category-list .bi-dash {
	font-size: 1.4rem;
	display: none;
  }
  
  .shop-category {
	display: flex;
  }
  
  .category-list {
	display: flex;
	flex-direction: column;
  }
  
  .category-list li {
	/* margin-bottom: 10px; */
	padding: 10px;
	align-items: center;
	width: 150px;
	/* display: inline-block; */
	/* outline:1px solid; */
  }
  
  .category-list li > a {
	color: black;
	width: 100%;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* line-height: 20px; */
	padding: 5px 0;
  }
  
  .category-list li:hover > a {
	color: #00a9e0;
  }
  
  .category-list ul {
	margin-top: 10px;
	display: none;
  }
  
  .category-list ul a {
	font-size: 1rem;

  }
  
  .mobil-category {
	display: none;
  }
  
  .category-list li:hover ul {
	/* display: block; */
  }

/* ---------------------------------------------- */



/* --------------    圖片點擊放大效果----------------- */




.product-card {
	
	transition: .5s ease;

}
.product-card:hover {
	transform: translateY(-5%);
	
}


.product-card img {
	transition: 0.6s;

}

.product-card img:hover {
	/* transform: scale(1.1); */
}



/* --------------    找產品圖右邊9張 商品圖範圍 ----------------- */
.product-set {
	width: 1000px;
	margin: 0 auto;

}

.product-set ul {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-set li {
	background-color: white;
	border: 1px solid #D9D9D9;
	text-align: center;
	margin-bottom: 40px;

}

.product-set li a {
	text-decoration: none;

}

.product-set li h3 {
	margin: 10px auto;
	color: black;
}


.product-set img {
	width: 100%;
}

.product-card-1 .bi-heart{
	color: red;

}
.product-card-1 .bi-cart-fill{
	color:#999;

}

.product-card-1:hover{
	outline:#00a9e0 1px solid;

}

/* --------------    產品圖下方價錢及icon ----------------- */

.pd-card-bottom {
	font-size: 24px;
	display: flex;
	justify-content: space-around;
	padding: 10px 0px 0 0px;
	border-top: #f6f6f6 1px solid;
	color: #0082FB;
}


/* --------------    產品區 下方分頁1.2.3.編輯----------------- */

/* page */

.pagination {
	padding: 0px 263px;
	margin: 20px;
	display: flex;
	justify-content: center;
  }
  
  
  .pagination li {
	display: flex;
	justify-content: center;
	border: none;
	background-color: rgb(0,0,0,0);
  }

  
  .pagination a {
	color: black;
	font-size: 1rem;
	margin: 0 15px;
	text-align: center;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
  }
  
  .pagination a:hover {
	background-color:#00EBE3;
  }
  
  .pagination .fas {
	/* font-size: 1.4rem; */
  }
  



/* ---------------找商品區rwd  --------- */

@media screen and (max-width: 415px){
	.product-container{
		width: 100%;
		display: flex;
    	flex-direction: column;
	}
	.category-control{
		padding: 0 17px;

	}

	
	.product-list{
		flex-direction: column;
	}


	.product-set {
		margin-top: 20px;
		width: 100%;
	}
	.product-set ul{
		display: flex;
    	flex-wrap: wrap;
		padding: 0 15px;
	}
	.product-set li{
		width: 100%;
	}

	.category-list{
		display: none;
	}

	.pagination li{
		display: none;
	}
	.pd-side{
		margin-left: 15px;

	}


}


/* ---------------購物說明--------- */

.info-side{
	margin: 0 0 15px 0px;
	color: #999;
}
.info-side a{
	color: #999;
}
.side-pd li {
	margin-bottom: 10px;
}

.side-pd a {
	margin-left: 10px;
	text-decoration: none;
	font-size: 1.3rem;
	color: black;

}

.side-pd .dropdown-list {
	margin: 10px 0;
}

.info-set {
	max-width: 1000px;
	margin: 0 auto;
}

.info-set ul {
	background-color: white;
	border: 1px solid #D9D9D9;
	padding: 0 50px;
	padding-bottom: 40px;
}

.info-set li {
	margin-bottom: 10px;

}

.info-set li h1 {
	margin: 0;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 36px;
	text-align: left;
	margin-bottom: 10px;

}

.info-bottomline {
	width: 100%;
	border-bottom: 1px solid black;
}

.info-set li h2 {
	margin-bottom: 10px;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 24px;
}

.info-set li h3 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 16px;
	color: #7F7F7F;

}
/* ---------------購物說明rwd--------- */

@media screen and (max-width: 415px){

	.info-side{
		margin-left: 15px;
	}
	.info-set{
		width: 100%;
		box-sizing: border-box;
    	padding: 10px;
	}
	.info-set ul{
		padding: 0px 15px;
	}
	.side-left{
		margin: 0 0 10px 15px;

	}


}




/* ---------------聯絡我們區--------- */



.loc-main {
	width: 1200px;
	margin: 50px auto;
	background-color: white;
	border: 1px solid #D9D9D9;

}

.lc-side{
	margin-left: 36px;
	margin-bottom: 15px;
	color: #999;
}
.lc-side a{
	color: #999;
}


/* -------------地圖區域--------- */

.map-top {
	padding: 0 38px;
    height: 300px;
}

.map-top iframe {
	width: 100%;
	
}


/* -------------關於我們下半部--------- */

.info-down {
	display: flex;
	justify-content: space-around;
	margin: 50px 0;

}


.down-border {
	width: 100%;
	border-bottom: 1px solid black;
	margin-bottom: 20px;

}


.info-down h2 {

	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 24px;

}

.info-down h3 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 16px;


}

/* ---------------公司資訊右邊--------- */
.info-downright {}

.info-downright ul {
	display: flex;
	flex-direction: column;

}



/* ---------------留言給我們左邊--------- */

.info-downleft {
	margin-right: 50px;
}

.info-downleft ul {
	width: 400px;
}

.info-downleft li {}

.btn-b{
	font-size: 16px;
	display: inline-block;
	width: 100%;
	background-color: #0082FB;
	color: aliceblue;
	text-decoration: none;
	margin-top: 10px;
	text-align: center;
	border-radius: 5px;
	border: none;

}

.btn-b:hover{
	background-color: #00EBE3;
	color: #007470;
}


.down-border1 {
	width: 100%;
	border-bottom: 1px solid black;
	margin-bottom: 20px;

}

.info-downleft textarea {
	width: 100%;
	box-sizing: border-box;

}

input {
	width: 100%;
	box-sizing: border-box;
}


textarea {
	overflow: auto;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;

}

/* ---------------聯絡我們區rwd--------- */
@media screen and (max-width: 415px){

	.loc-main{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.map-top{
		box-sizing: border-box;
		padding: 0px 20px;

	}
	.info-downleft{
		width: 100%;
		margin: 0;
	}
	.info-downleft ul{
		width: 100%;
		padding: 16px;
    	box-sizing: border-box;
	}

	.info-downright ul{
		display: none;
	}
	.lc-side{
		margin-left: 18px;
	}

}



/* ---------------商品內文區--------- */

.pdinfo-container {
	width: 1200px;
	margin: 0 auto;

}

.pd-topcontainer {
	width: 1200px;
	margin: 40px auto;
	display: flex;
	box-sizing: border-box;
	
    padding: 0 20px;
}

.pdd-side{
	color: #999;
	margin-bottom: 15px;
}
.pdd-side a{
	color: #999;
}


.pd-leftimg {
	width: 100%;

}

.pd-leftimg ul {
	width: 375px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pd-leftimg li {
	margin-top: 10px;
}

.small img {
	width: 70px;
	display: block;
	border: 1px solid #D9D9D9;

}

.pf-righttext {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.right-info-name {
	width: 100%;
	height: auto;
}

.right-info-name h2 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	margin-bottom: 10px;
}

.info-dt1 li {
	line-height: 40px;
}

.bi-star-fill::before {
	color: yellow;
	margin-right: 5px;
}

.right-info-name h3 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	margin-top: 10px;
	color: #0082FB;

}

/* ---------------購物車顏色按鈕--------- */

#radio{
	margin-left: 22px;
    margin-top: 20px;

}

#radio input[type="radio"] {
	display: none; 
}

#radio input:checked + .button {
	background: #0082FB; 
	color: #fff; 
	cursor: default; 
}

#radio .button {
	display: inline-block; 
	margin: 0 5px 0px 10px; 
	padding: 5px 10px;  
	cursor: pointer; 
	border: 1px solid #999;
}

#radio .button:hover {
	background: #bbb; 
	color: #fff; 
}

#radio .round {
	border-radius: 5px; 
}

/* ---------------購物車數量加減--------- */


ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

img {
	vertical-align: middle;
}

.btn-numbox {
	overflow: hidden;
	margin: 20px auto;
}

.btn-numbox li {
	float: left;
	margin-left: 24px;
}


.btn-numbox .count {
	overflow: hidden;
	margin: 0 16px 0 -20px;
}


.btn-numbox .count .num-jian,
.input-num,
.num-jia {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 18px;
	color: #999;
	cursor: pointer;
	border: 1px solid #e6e6e6;
}

.btn-numbox .count .num-jia {
	margin-left: 1px;
}

.btn-numbox .count .input-num {
	width: 58px;
	height: 26px;
	color: #333;
	border-left: 0;
	border-right: 0;
}

/* ---------------購物車立即購買&加入購物車按鈕--------- */

.bottom-2 {}

.bottom-2 ul {
	display: flex;

}

.bottom-2 li {
	margin-right: 20px;
	flex-grow: 1;
}

.buy-button {
	font-size: 1.4rem;;
	display: block;
	width: 200px;
	background-color: #0082FB;
	color: aliceblue;
	text-decoration: none;
	margin-top: 10px;
	text-align: center;
	border-radius: 20px;
	padding: 5px;
}

.add-cartbutton {
	font-size: 1.4rem;;
	text-align: center;
	display: block;
	width: 200px;
	text-decoration: none;
	color: #0082FB;
	border: 1px solid #0082FB;
	border-radius: 20px;
	margin-top: 10px;
	padding: 5px;

}

.bottom-2 a:hover {
	background-color: #86f7ff;
	color: #0082FB;

}

.pd-downcontainer {
	text-align: center;
	margin-bottom: 50px;
	padding: 0 20px;

}

.pd-downcontainer h1 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 52px;
}

.pd-downcontainer h2 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 52px;
}

.pd-downcontainer ul li {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	margin-bottom: 30px;
}


/* ---------------推薦商品區--------- */


.banner-bestSeller {
	max-width: 1440px;
	margin: 0 auto;
}

.banner-bestSeller h1 {}

.banner-bestSeller ul {
	display: flex;
	
}

.banner-bestSeller li {
	flex: auto;
}

.banner-bestSeller li a {
	text-decoration: none;
	

}

.banner-bestSeller li h3 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 16px;

}

.banner-bestSeller li h4 {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 14px;

}

.banner-bestSeller li p {
	color: #0082FB;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-size: 16px;
}

/* ------------彈出加入購物車--------- */

.banner-product-bestSeller-one {
	position: relative;
}
.banner-product-bestSeller-one a{
	color: black;
}

.banner-product-bestSeller-one:hover img {
	opacity: 0.4;

}

.banner-product-bestSeller-one:hover .banner-product-bestSeller-middle {
	opacity: 1;
	transform: translateY(-100%);
}

main .banner-product-bestSeller-middle {
	margin-bottom: 10px;
}

.banner-product-bestSeller-middle a {
	background-color: #0082FB;
	color: white;
	font-size: 16px;
	width: 150px;
	line-height: 2;
	display: block;
}

main .banner-product-bestSeller-middle a i {}

.banner-product-bestSeller-middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 40%;
    left: 30%;
	/* transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); */
	text-align: center;

}

.banner-product-bestSeller img {
	display: block;
	opacity: 1;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}


.banner-product-bestSeller {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 4px;
	flex: 4;
	overflow: hidden;

}

.banner-product-bestSeller li {
	padding: 0 5px;
	width: 145px;
	

}

/* ---------------商品內文區 rwd --------- */

@media screen and (max-width: 415px){

	.pdinfo-container{
		width: 100%;

	}
	.pd-topcontainer{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

	}
	.pd-leftimg ul{
		width: 100%;
	}
	.big img{
		width: 100%;
	}

	.buy-button{
		width: 100%;
	} 
	.pd-downcontainer img{
		width: 100%;
	}
	.bottom-2 ul{
		display: block;
	}
	.add-cartbutton{
		width: 100%;
	}


	.banner-bestSeller{
		/* display: none; */
		width: 100%;
		max-width: 414px;
		margin: 0;
	}
	
	.banner-bestSeller h2{
		text-align: center;
		font-size: 20px;
		color: black;
		margin: 0px auto 10px;
		font-weight: bold;
		letter-spacing: 2px;
	}
	
	.banner-bestSeller-select{
		padding-right: 8px;
	}
	
	.banner-product-bestSeller{
		display: flex;
		max-width: 380px;
		margin: 0 auto;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 0px;
		overflow: hidden;
	}
	
	
	.banner-product-bestSeller li{
		max-width: 180px;
		padding: 0px;
		margin: 10px 5px;
	}
	
	
	.banner-product-bestSeller a{
		text-decoration: none;
	}
	
	.banner-product-bestSeller img{
		width: 100%;
		max-width: 180px;
		display: block;
		opacity: 1;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
	}
	

	
	.banner-product-bestSeller-middle{
		display: none;
	}
	
	.banner-product-bestSeller-middle a{
		background-color: #0082FB;
		border-radius: 3px;
		color: white;
		font-size: 10px;
		width: 130px;
		line-height: 3;
		margin-top: 10px;
	}
	.banner-product-bestSeller-middle a i{
		padding-right: 5px; 
	}
	
	.banner-product-bestSeller-middle{
		transition: .5s ease;
		opacity: 1;
		position: static;
	}
	.pd-downcontainer h1{
		font-size: 1.8rem;
	}
	.pd-downcontainer h2 {
		font-size: 1.5rem;
	}
	
	
	
}















































































